body {
    background: rgba(56, 56, 56, 0.55);
}

.navbar {
    background-color: #ffdd00d6;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.calendar_large tbody td {
    background-color: #e0e0e0;
    vertical-align: top;
    padding: 5px;
    width: 11%;
}

.calendar_large {
    width: 80%;
    margin-left: 10%;
    border-collapse: separate;
    border-spacing: 5px;
}

* {
    box-sizing: border-box;
}

thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.calendar_large tbody td.win {
    background-color: #c1f9c1;
}

.calendar_large tbody td.loss {
    background-color: #fba1a1;
}

#nav-text {
    color: black;
    font-weight: bold;
    width: 10rem;
}

.navbar-custom .topbar-menu li {
    float: left;
    max-height: 70px;
}

@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
}


.mx-1 {
    margin-right: 0.375rem !important;
    margin-left: 0.375rem !important;
}

.navbar-custom .topbar-menu {
    display: inline-block;  
    position: relative;
    z-index: 1;
}

.float-end {
    float: right !important;
}

#importTradesButton, #menuSignOut {
    background-color: rgba(56, 56, 56, 0.9);
    color: #ffdd00d6;
}

.rm-rem {
    margin-right: 1.5rem;
}

img, svg {
    vertical-align: middle;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.account-user-name {
    color: black;
}

#icon {
    max-width: 48px;
    max-height: 48px;
}

.homeRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#volumeChart {
    width: 45% !important;
    height: 45% !important;
    margin-left: 1rem;
}

#profitLossChart {
    width: 45% !important;
    height: 45% !important;
    margin-right: 1rem;
}

#winRateChart {
    width: 45% !important;
    height: 45% !important;
    margin-right: 1rem;
}

#signUpButton, #logInButton {
    background-color: #ffdd00d6;
    color: black;
}

.app-yellow {
    background-color: #ffdd00d6;
    color: #ffdd00d6;
}

#logButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#loginCard {
    margin-top: 5rem;
}

#loginBody {
    background-color: rgb(224, 202, 57);
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #roseFireButton {
    display: block;
    margin: auto auto;
    color: black;
    background: rgb(224, 202, 57);
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}